
<style media="screen" type="text/css">
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
</style>

<div class="footer"><% include ../partials/footer %></div>


<p class="text-center text-muted">Footer</p>
