<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/styles/bootstrap.min.css">
<link rel="stylesheet" href="/styles/importer.css">
</head>


<body>
<div class="container">
  <h2>Gün Özetleri</h2>
  <p>Gönderilen Gün Özetleri</p>
  <table class="table">
    <thead>
      <tr>
        <th>Başlık</th>
        <th>Haber</th>
        <th>Görsel</th>
        <th>Saat</th>
        <th>Tarih</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Başlık</td>
        <td>Haber içeriği ve link</td>
        <td>Resim</td>
        <td>20:07</td>
        <td>09.03.2017</td>
      </tr>
    </tbody>
  </table>
</div>

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery-3.1.1.slim.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!--SCRIPTS END-->

</body>
