<html lang="UTF-8">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment-with-locales.min.js"></script>
<script>
$( function() {
  var dialog, form,

    emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
    baslik = $( "#baslik" ),
    haber = $( "#haber" ),
    gorsel = $( "#gorsel" ),
    tarih = $( "#tarih" ).find("input"),
    allFields = $( [] ).add( baslik ).add( haber ).add( gorsel ).add( tarih ),
    tips = $( ".svalidateTips" );

  function updateTips( t ) {
    tips
      .text( t )
      .addClass( "ui-state-highlight" );
    setTimeout(function() {
      tips.removeClass( "ui-state-highlight", 1500 );
    }, 500 );
  }

  function checkRegexp( o, regexp, n ) {
    if ( !( regexp.test( o.val() ) ) ) {
      o.addClass( "ui-state-error" );
      updateTips( n );
      return false;
    } else {
      return true;
    }
  }

  function checkForm(form)
  {
    // validation fails if the input is blank
    if(form.inputfield.value == "") {
      alert("Error: Input is empty!");
      form.inputfield.focus();
      return false;
    }

    // regular expression to match only alphanumeric characters and spaces
    var re = /^[\w ]+$/;

    // validation fails if the input doesn't match our regular expression
    if(!re.test(form.inputfield.value)) {
      alert("Karakter hatası!");
      form.inputfield.focus();
      return false;
    }

    // validation was successful
    return true;
  }

  function Validate()
  {
      var msg= "",
          fields = document.getElementById("dialog-form").getElementsByTagName("input");

      for (var i=0; i<fields.length; i++){
          if (fields[i].value == "")
              msg += fields[i].name + ' boş bırakıldı. \n';
      }

      if(msg) {
          alert(msg);
          return false;
      }
      else
          return true;
  }

  function ozetEkle() {

     if(Validate()){
        $( "#tablo tbody" ).append( "<tr>" +
          "<td>" + baslik.val() + "</td>" +
          "<td>" + haber.val() + "</td>" +
          "<td>" + gorsel.val() + "</td>" +
          "<td>" + tarih.val() + "</td>" +
          "<td>" + "Beklemede" + "</td>" +
          "<td>" + "Admin" + "</td>" +
          "<td>" + '<a href="#" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit">' + "</td>" +
        "</tr>" );
        dialog.dialog( "close" );
      }

  }

  dialog = $( "#dialog-form" ).dialog({
    autoOpen: false,
    height: 400,
    width: 350,
    modal: true,
    buttons: {
      "Yayınla": ozetEkle,
      Kapat: function() {
        dialog.dialog( "close" );
      }
    },
    close: function() {
      form[ 0 ].reset();
      allFields.removeClass( "ui-state-error" );
    }
  });

  form = dialog.find( "form" ).on( "submit", function( event ) {
    event.preventDefault();
    ozetEkle();
  });

  $( "#yenibutton" ).button().on( "click", function() {
    dialog.dialog( "open" );
  });


} );
</script>

</script>

<script type="text/javascript">
  $(document).ready(function() {
        $(function () {

            $('#tarih').datetimepicker({
                useCurrent: true,
                format: 'D/MM/YYYY HH:mm',
                locale: 'tr'
            });

        });
  });
</script>

</head>

<body>


  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-div" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Gün Özetleri</a>
      </div>

      <div class="collapse navbar-collapse" id="menu-div">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menü <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Menu1</a></li>
              <li><a href="#">Menu2</a></li>
              <li><a href="#">Menu3</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logout">Çıkış</a></li>
            </ul>
          </li>
          <li class="active"><a href="#" id="yenibutton">Yeni<span class="sr-only">(current)</span></a></li>
          <li><a href="#">İstatistik</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="">
          </div>
          <button type="submit" class="btn btn-default">Ara</button>
        </form>
      </div>

    </div>
  </nav>

<div id="tablo-div" class="ui-widget">

  <table id="tablo" cellspacing="0" width="100%" class="table table-striped">
    <thead>
      <tr>
        <th>Başlık</th>
        <th>Haber</th>
        <th>Görsel</th>
        <th>Tarih</th>
        <th>Durum</th>
        <th>Ekleyen</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Başlık</td>
        <td>Haber içeriği ve link</td>
        <td>Resim</td>
        <td>20:07 09.03.2017</td>
        <td>Beklemede</td>
        <td>Admin</td>
        <td><a href="#" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit"></span></a><td>
      </tr>
      <tr>
        <td>Başlık</td>
        <td>Haber içeriği ve link</td>
        <td>Resim</td>
        <td>20:07 09.03.2017</td>
        <td>Beklemede</td>
        <td>Admin</td>
        <td><a href="#" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit"></span></a><td>
      </tr>
      <tr>
        <td>Başlık</td>
        <td>Haber içeriği ve link</td>
        <td>Resim</td>
        <td>20:07 09.03.2017</td>
        <td>Beklemede</td>
        <td>Admin</td>
        <td><a href="#" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit"></span></a><td>
      </tr>
    </tbody>
  </table>
</div>


<div id="dialog-form" title="Yeni Özet">
  <p class="validateTips">Alanlar doldurulmalıdır.</p>

  <form>
     <div class="form-group">
      <label for="baslik">Başlık</label>
      <input type="text" name="baslik" id="baslik" class="form-control" >
    </div>
    <div class="form-group">
      <label for="haber">Haber</label>
      <textarea class="form-control" rows="5" name="haber" id="haber" ></textarea>
    </div>
    <div class="form-group">
      <label for="gorsel">Görsel</label>
      <input type="text" name="gorsel" id="gorsel" class="form-control">
    </div>
    <div class="form-group">
      <label for="tarih">Tarih</label>
      <div class='input-group date' id='tarih'>
          <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar" ></span>
            </span>
      </div>
    </div>
    <div class="form-group">
      <label for="ekleyen">Ekleyen</label>
      <input type='text' class="form-control" name="ekleyen" id="ekleyen"/>
    </div>
      <button type="submit" tabindex="-1" style="position:absolute; top:-1000px">
  </form>
</div>


<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery-ui.min.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/bootstrap-datetimepicker.min.js"></script>
<!--SCRIPTS END-->



</body>
</html>
